@CHARSET "UTF-8";

#convert_pdf_button {position:absolute; top:30px; right:50px;}
#report_total_rule {margin:10px auto; width:800px;}
#report_level_ratio {margin:10px auto; width:400px;}
#report_all_rule {margin:10px auto; width:700px;}
#report_perform_score {margin:10px auto; width:700px;}
#report_perform_requests {margin:10px auto; width:400px;}
#report_perform_requests_size {margin:10px auto; width:700px;}