.rank-title {
	min-height: 10px;
	padding: 8px;
	margin-bottom: 20px;
	color: #ffffff; background-color : #ffd700; border : 2px solid #daa520;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	background-color: #ffd700;
	border: 2px solid #daa520;
	background-color: #ffd700;
	border: 2px solid #daa520;
}

.rank-list-group {
	word-wrap:break-word;
	padding-left: 0;
	margin-bottom: 20px;
}

.rank-list-group-item {
	position: relative;
	display: block;
	padding: 3px 7px 3px 7px;
	margin-bottom: -1px;
	background-color: #ffffff;
	border: 1px solid #ffe4b5;
}

.rank-list-group-item:nth-child(2) {
	background-color: #fffea7;
}

.rank-list-group-item:nth-child(3) {
	background-color: #ffffdc;
}

.rank-list-group-item:nth-child(4) {
	background-color: #f6f6f6;
}

.rank-list-group-item:nth-child(5) {
	background-color: #fffbf0;
}

.rank-list-group-item:first-child {
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

.rank-list-group-item:last-child {
	margin-bottom: 0;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.rank-img {
	margin-right: 10px;
}

.rank-list-group-item-text {
	margin-bottom: 0;
	line-height: 1.3;
}

li.rank-list-group-item.active {
	padding-left: 10px;
	z-index: 2;
	color: #ffffff;
	background-color: #ffd700;
	border: 2px solid #daa520;
}

.rank-panel {
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid #daa520;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05)
}

.rank-panel-heading {
	padding: 8px 10px;
	border-bottom: 1px solid #dddddd;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	background-color: #ffd75f;
	border: 1px solid #daa520;
}

.rank-panel-body {
	padding: 15px
}

.rank-panel-body:before,.rank-panel-body:after {
	display: table;
	content: " "
}

.rank-panel-body:after {
	clear: both
}

.rank-panel-body:before,.rank-panel-body:after {
	display: table;
	content: " "
}

.rank-panel-body:after {
	clear: both
}

.rank-panel>.rank-list-group {
	margin-bottom: 0
}

.rank-panel>.rank-list-group .rank-list-group-item {
	border-width: 1px 0
}

.rank-panel>.rank-list-group .rank-list-group-item:first-child {
	border-top-right-radius: 0;
	border-top-left-radius: 0
}

.rank-panel>.rank-list-group .rank-list-group-item:last-child {
	border-bottom: 0
}