<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io.connect('http://localhost:8080');
	// owasp top 10 - 2013
	socket.emit('start test', { 'testkind': [1,0,1,1,0,0,1,0,1,1] });

    socket.on('case1', function (data) {
        console.log(data);
    });
	
</script>