width: expression( document.body.clientWidth < 600 ? "600px" : "auto" );
min-width: 600px;

P {
width: expression( setCntr( ), document.body.clientWidth<600 ? "600px" : "auto" );
min-width: 600px;
border: 1px solid;
}