/* Css Sprite */

#header .search .search-cate .list .cate a{font-weight:bold; background:#f5f5f5; background-image:none}
#header .search .search-cate .list .cate a:hover{background-image:none}
#header .cateWarp h2.typeB a{width:170px; height:38px; background-position:-500px -100px}/* Main CPP */

/* Css InLine Image */
.home { background-image: url(data:image/gif;base64,R0lGODlhHwAfAPcAAAAAAIxKA);}
.gift { background-image: url(data:image/gif;base64,R0lGODlhHwAfAPcAAAAAAABCp);}
.cart { background-image: url(data:image/gif;base64,R0lGODlhHwAfAPcAAAAAADlCr);}