
<div class="row">
	<div class="col-md-12">
		<div class="well">
			<div id="convert_pdf_button">
				<button type="button" class="btn btn-success">Convert to
					PDF & Download</button>
			</div>
			<h2>Protect & Perform History</h2>
			<hr>

			<h3>[Protect]</h3>
			<hr>
			<h4>Protect Total Score History</h4>
			<div id="history_protect_score"></div>
			<hr>
			
			<h3>[Perform]</h3>
			<hr>
			<h4>Perform Total Score History</h4>
			<div id="history_perform_score"></div>
			<hr>
			
			<h4>Perform Number of Javascript History</h4>
			<div id="history_js_num"></div>
			<hr>
			
			<h4>Perform Size of Javascript History</h4>
			<div id="history_js_size"></div>
			<hr>
			
			<h4>Perform Number of CSS History</h4>
			<div id="history_css_num"></div>
			<hr>
			
			<h4>Perform Size of CSS History</h4>
			<div id="history_css_size"></div>
			<hr>
			
			<h4>Perform Number of Image History</h4>
			<div id="history_img_num"></div>
			<hr>
			
			<h4>Perform Size of Image History</h4>
			<div id="history_img_size"></div>
			<hr>
			</div>
	</div>
</div>