
<div class="row">
	<div class="col-md-12">
		<div class="well">
			<div id="convert_pdf_button">
				<button type="button" class="btn btn-success">Convert to
					PDF & Download</button>
			</div>
			<h2>Protect & Perform Report</h2>
			<hr>

			<h3>[Summary]</h3>
			<p>
				Total Score : <span id="report_total_score"></span>
			</p>
			<p>
				Start time : <span id="report_start_time"></span>
			</p>
			<p>
				Finish time : <span id="report_finish_time"></span>
			</p>
			<p>
				Server Information : <span id="report_server_info"></span>
			</p>
			<hr>

			<h3>[Protect]</h3>
			<hr>
			<h4>Protect Total Score</h4>
			<div>
				<h3 style="color: blue;">
					<span id="report_protect_total_score"></span> / 100
				</h3>
			</div>
			<hr>
			<h4>Rule Ratio</h4>
			<div id="report_total_rule"></div>
			<hr>
			<h4>Level Ratio</h4>
			<div id="report_level_ratio"></div>
			<hr>
			<h4>The number of Detected Test Cases per Rule (vs All tests)</h4>
			<div id="report_all_rule"></div>
<!-- 			<hr>
			<h4>Other informations</h4>
			<p>
				Total Requests : <span id="report_total_score"></span>
			</p>
			<p>
				Scores by rule : <span id="report_total_score"></span>
			</p> -->
			<hr>
			<hr>

			<h3>[Perform]</h3>
			<hr>
			<h4>Perform Total Score</h4>
			<div>
				<h3 style="color: blue;">
					<span id="report_perform_total_score"></span> / 100
				</h3>
			</div>
			<div id="report_perform_score"></div>
			<hr>
			<h4>Request Contents</h4>
			<div id="report_perform_requests"></div>
			<hr>
			<h4>Average Individual Response Size</h4>
			<div id="report_perform_requests_size"></div>
			<hr>
			<h4>Test Rule Summary</h4>
			<div id="report_test_rule_summary"></div>
			<hr>
<!-- 			<h4>Waterfall</h4>
			<div id="report_perform_waterfall"></div>
			<hr> -->
		</div>
	</div>
</div>